<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Head that holds title, links the Bulma styles and my own stylesheet-->
    <title>Loklin's Webpage</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class = "section" id="banner">
        <div class = "container has-text-centered">
            <span class = "title">
                HahBrug Dedicated Server Manager
            </span>
        </div>
    </section>
    <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <form action="/login" class="box" id="login-form" method="POST">
                  <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input type="text" placeholder="Enter Username Here" class="input" name="username" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input type="password" placeholder="*******" class="input" name="password" required>
                    </div>
                  </div>
                  <div class="field">
                    <button class="button is-info is-fullwidth" id="login-button">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class = "section" id="banner">
        <div class = "container has-text-centered">
            <span class = "subtitle">
                Developed by Loklin Nord
            </span>
        </div>
    </section>
</body>
</html>